/* You can add global styles to this file, and also import other style files */


@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .gradient {
    --size: 250px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  
  @media (min-width: 720px) {
    .gradient {
      --size: 500px;
    }
  }
  
  body {
    background-color: #222;

    inset: 0;
    /* display: flex; */
    place-content: center;
    align-items: center;
    /* overflow: hidden; */
    color: antiquewhite;
   
    overflow: auto;
  }
  

  * {
    transition: all 0.25s ease-out;
  }
  