

<div class="fatherContent" id="Home">
  <header>
    <nav>
      
      <a href="https://rickandmortyapi.com/" target="_blank">Doc API</a>
      <a href="https://github.com/collym97"  target="_blank">Github</a>
      <a href="#footer" >About</a>
     
      
    </nav>

  </header>

  <button class="boton-derecho" (click)="nextPage()">NEXT</button>
  <button class="boton-izquierdo" (click)="previusPage()" [ngClass]="{'hidden': isHidden}">BACK</button>
  <div class="container">

  
    @for (i of characters.results; track i) {
      <div>
        <h3>{{i.name}}</h3>
        <img class="chars" src="{{i.image}}">
        <h3>{{i.species}}</h3>
        <h3 *ngIf="i.status == 'Dead'" class="dead">Dead</h3>
        <h3 *ngIf="i.status == 'Alive'" class="alive">Alive</h3>
       
       
       
      </div>
      
   }

  

    <!-- <button type="submit" class="start" (click)="loadPage()" [ngClass]="{'hidden': isHidden}">Start</button> -->

    
    <router-outlet  ></router-outlet>

 
 
  </div>
 
 
  <footer   >
    <a href="#Home"  class="btn btn-primary" id="up" >Up</a>
 
    <p id="footer">
      Copyright: Luis R collymoore
    </p>

  </footer>
</div>


