

<div>
  <h1 class="title">Rick And morty API</h1>
  <h5 class="title"> Luis R collymoore</h5>

  <div class="container">

  
    @for (i of characters.results; track i) {
      <div>
        <h3>{{i.name}}</h3>
        <img src="{{i.image}}">
        <h3>{{i.species}}</h3>
        <h3 *ngIf="i.status == 'Dead'" class="dead">Dead</h3>
        <h3 *ngIf="i.status == 'Alive'" class="alive">Alive</h3>
       
       
       
      </div>
      
   }
 
  </div>
 
  <button type="button" (click)="loadPage()">Cargar página</button>
</div>


