body{
    scroll-behavior: smooth;
}

.container{
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-top: 10px;
    position: relative;
    flex-flow: wrap;
    animation-name: fade-in;
    animation-duration:5s;
    scroll-behavior: smooth;
    font-size: small;


    
    

}
.hidden {
  display: none;
}
.center{
font-size: xx-large;
height: 100%;
margin: 10%;

}

.boton-derecho {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  background-color:rgb(131, 175, 43);
  color:rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
}

.boton-izquierdo {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  background-color:rgb(131, 175, 43);
  color:rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
}

.start{



  z-index: 100;
  background-color:rgb(131, 175, 43);
  color:rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 50px;
}
h3{
  
    display: flex;
    justify-content: center;
    font-size: medium;
}

.dead{
    color: red;
}

.alive{
    color: rgb(94, 255, 0);
}
     
.chars{

    border-radius: 50%;
    border-color: yellowgreen;
    border-style: solid;
    margin:10px;
    width: 70%;
    position: relative;
    left: 40px;
}

.chars:hover{
   
    border-color:springgreen;
    border-style:ridge;
    opacity: 70%;
    margin:10px
}


header {
    
    background-image:url("https://w0.peakpx.com/wallpaper/914/291/HD-wallpaper-rick-and-morty-on-the-run.jpg");
    background-position-y: 5%;
    height: 250px;
    
    padding: 20px;
    background-size: cover;

    
  }
  

  
  nav {
    /* display: flex; */
    position: absolute;
    justify-content: center;
    font-size:larger;
    /* margin: 10px; */
    top: 2%;
    left: 80%;
    background-color: rgb(0, 0, 0);
    /* border-radius: 1ch; */
    
    
  }
  
  nav a {
    color: #dad3d3;
    text-decoration: none;
    margin: 10px;
  }

 nav a:hover {
    color:springgreen;
    font-style: oblique;
    text-decoration: none;
    margin: 10px;
    
  }



footer{
    background-image:url("https://w0.peakpx.com/wallpaper/648/100/HD-wallpaper-tv-show-rick-and-morty-morty-smith-rick-sanchez.jpg");
    background-size: cover;
    background-position-y: 15%;

    height: 220px;
    width: 100%;
    padding: 20px;
    opacity: 90%;
}
  
p{
  display: flex;
  justify-content: left;
  font-size: medium;


}

#up{
 position: relative;
 left: 50%;
 
}


@keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 100;
    }
  }

@media (max-width: 1024px) {

    p{
      display: flex;
      justify-content: left;
      font-size: medium;
    
    
    }
  header {
    
    background-image:url("https://w0.peakpx.com/wallpaper/914/291/HD-wallpaper-rick-and-morty-on-the-run.jpg");
    background-position-y: 5%;

   
    background-size: cover;
    /* max-width: 1024px */
    

    
  }
  footer{
    background-image:url("https://w0.peakpx.com/wallpaper/648/100/HD-wallpaper-tv-show-rick-and-morty-morty-smith-rick-sanchez.jpg");
    background-size: cover;
    background-position-y: 15%;

  
    background-size: cover;
    /* width: 116%; */

    opacity: 90%;
}
  
  nav {
    
    position: relative;
justify-content: center;
  text-align: center;
    font-size:larger;
    /* margin: 10px; */
    align-items: center;
    left: -2%;
    top: 89.5%;
    /* left: 84%; */
   

  }
    

/* 
.chars{
  border-radius: 50%;
  border-color: yellowgreen;
  border-style: solid;
  margin:15px;
  width: 70%;
position: relative;
left: 50px;


} */



  }


  @media (max-width: 425px) {
    .center{
      font-size: xx-large;
      height: 100%;
      margin: 50%;
      
      }
      .active{
        color: yellowgreen;
      }
      p{
        display: flex;
        justify-content: left;
        font-size: medium;
      
      
      }

    
    nav {
      
      position: relative;
    justify-content: center;
    text-align: center;
      font-size:small;
      /* margin: 10px; */
      align-items: center;
      left: 10px;
      top: 89.5%;
      /* left: 84%; */
     
  
    }
      
  

  



  
    }
